@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --main-color: #1ebab2;
  --secondary-color: #0a9b94;
  --light-color: #E9F8F8;
  --gray-color: #7a8395;
  --bg-color: #f5f7f9;
  --border-color: #e6e9f2;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}
